ul {
    font-family: "Verdana", serif;
    font-size: 22px;
    background-color: darkseagreen;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 60%;
}
li {
    background-color: rgb(119, 163, 43);
    margin-bottom: 5px;
    padding: 5px;
}